@import url('https://fonts.googleapis.com/css2?family=Alef&family=Asul&family=Catamaran:wght@200&family=Libre+Franklin&family=Montserrat:wght@100;400&family=Outfit:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,300&family=Roboto&family=Smooch+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
}

:root {
    --pale-blue: hsl(223, 100%, 88%);
    --royal-blue: hsl(223, 87%, 63%);
    --light-red: hsl(354, 100%, 66%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem;
    overflow: hidden;
}

/*MAIN STYLING STARTS*/
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

main img {
    margin: 2rem;
}

main h1,
p {
    margin: 0 0 1.5rem 0;
}

h1 {
    width: 100%;
    font-size: 1.5rem
}

main span {
    font-weight: 100;
    opacity: 0.4;
}

main p {
    width: 100%;
    font-size: 12px;
}

/*FORM STYLING STARTS*/
form input {
    outline: none;
    display: inline-block;
    width: 100%;
    padding: 0.8rem;
    border: 1px solid var(--pale-blue);
    border-radius: 50px;
}

input::placeholder {
    color: var(--pale-blue);
}

form a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    text-transform: capitalize;
    padding: 0.8rem 1rem;
    background-color: var(--royal-blue);
    color: white;
    border: none;
    border-radius: 50px;
    box-shadow: 0 5px 5px hsl(223, 100%, 88%);
    margin-top: 0.5rem;
    cursor: pointer;
}

form a:hover {
    opacity: 0.6;
}

/*FORM STYLING ENDS*/

.dash {
    width: 100%;
    display: block;
}

/*FOOTER STYLING STARTS*/
footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
}

footer a {
    color: var(--royal-blue);
}

/*FOOTER STYLING ENDS*/
/*MAIN STYLING ENDS*/

/*MEDIA QUERIES START*/

/*MEDIA QUERIES END*/