@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
    transition: all .1s ease-in-out;
}

:root {
    --pale-blue: hsl(223, 100%, 88%);
    --royal-blue: hsl(223, 87%, 63%);
    --light-red: hsl(354, 100%, 66%);
    --gray: hsl(0, 0%, 59%);
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
    overflow: hidden;
}

/*MAIN STYLING STARTS*/
main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main img {
    margin: 1rem;
    width: 3.5rem;
}

main h1 {
    margin: 0 0 0.9rem 0;
    width: 100%;
    font-size: 1.5rem
}

main span {
    font-weight: 100;
    opacity: 0.4;
}

main p {
    width: 100%;
    font-size: 12px;
}

/*FORM STYLING STARTS*/

main form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

form input {
    width: 100%;
    outline: 1px solid var(--pale-blue);
    padding: 0.8rem 1rem;
    border: 1px solid var(--pale-blue);
    border-radius: 50px;
}

input::placeholder {
    color: var(--pale-blue);
}

form button {
    width: 100%;
    text-decoration: none;
    text-transform: capitalize;
    padding: 0.8rem 1rem;
    background-color: var(--royal-blue);
    color: white;
    border: none;
    border-radius: 50px;
    box-shadow: 0 5px 5px hsl(223, 100%, 88%);
    margin-top: 0.5rem;
    cursor: pointer;
}

form button:hover {
    opacity: 0.6;
}
/*FORM STYLING ENDS*/

.dash {
    width: 18rem;
}

/*FOOTER STYLING STARTS*/
footer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1.5rem;
}

footer a {
    padding: 0 1rem;
}

footer i {
    font-size: 1.1rem;
    outline: 1px solid var(--pale-blue);
    border-radius: 50%;
    color: var(--royal-blue);
    padding: 0.5rem;
}

footer i:hover {
    background-color: var(--royal-blue);
    color: #fff;
}


main .copyright {
    color: var(--gray);
}

/*FOOTER STYLING ENDS*/
/*MAIN STYLING ENDS*/

/*MEDIA QUERIES START*/

/*medium screen tablet*/
@media (min-width: 768px) and (max-width: 991.98px) {
    html {
        font-size:25px;
    }

    main {
        height: 100vh;
    }

    main p {
        font-size: 25px;
    }

    main form {
        width: 70%;
        font-size: 16px;
    }
}

/*large screen laptop*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    html {
        font-size:27px;
    }

    main {
        height: 100vh;
    }

    main p {
        font-size: 25px;
    }

    main form {
        font-size: 16px;
    }

    form button {
        width: 20%;
        margin: 0 0.5rem;
    }

    form input {
        width: 40%;
    }

}

/*X large screen*/
@media (min-width: 1200px) {
    html {
        font-size:35px;
    }

    body {
        overflow: visible;
    }

    main {
        height: 100vh;
    }

    main p {
        font-size: 25px;
    }

    form {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
    }

    form button {
        width: 20%;
        margin: 0 0.5rem;
    }

    form input {
        width: 40%;
    }
}
/*MEDIA QUERIES END*/